body {
  background-color: magenta;
  color: puple;
  font-family: "Chiller", sans-srif;
}
h1 {
  color: orange;
  font-family: "Times New Roman", serif;
}
h2 {
  color: brown;
  font-family: "Arial";
}
